# I) Imports and data

## Imports

In [21]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, StratifiedKFold
from sklearn.linear_model import LogisticRegression
from imblearn.over_sampling import SMOTE

# Import statements required for Plotly 
import plotly.offline as py
import plotly.graph_objs as go
import plotly.tools as tls

## Data processing

In [2]:
df = pd.read_csv('data/data.csv')
df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [3]:
# Dropping columns
df = df.drop(["EmployeeCount", "EmployeeNumber", "Over18", "RelationshipSatisfaction", "StandardHours"], axis = 1)

# Formatting columns

df['Attrition'] = df['Attrition'].replace(["Yes", "No"], [1, 0])
df['Gender'] = df['Gender'].replace(["Male", "Female"], [0, 1])
df['OverTime'] = df['OverTime'].replace(["Yes", "No"], [1, 0])
df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,PercentSalaryHike,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,1,...,11,3,0,8,0,1,6,4,0,5
1,49,0,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,0,...,23,4,1,10,3,3,10,7,1,7
2,37,1,Travel_Rarely,1373,Research & Development,2,2,Other,4,0,...,15,3,0,7,3,3,0,0,0,0
3,33,0,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,4,1,...,11,3,0,8,3,3,8,7,3,0
4,27,0,Travel_Rarely,591,Research & Development,2,1,Medical,1,0,...,12,3,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,0,Travel_Frequently,884,Research & Development,23,2,Medical,3,0,...,17,3,1,17,3,3,5,2,0,3
1466,39,0,Travel_Rarely,613,Research & Development,6,1,Medical,4,0,...,15,3,1,9,5,3,7,7,1,7
1467,27,0,Travel_Rarely,155,Research & Development,4,3,Life Sciences,2,0,...,20,4,1,6,0,3,6,2,0,3
1468,49,0,Travel_Frequently,1023,Sales,2,3,Medical,4,0,...,14,3,0,17,3,2,9,6,0,8
1469,34,0,Travel_Rarely,628,Research & Development,8,3,Medical,2,0,...,12,3,0,6,3,4,4,3,1,2

#### Distribution of Attrition values :

In [ ]:
# creating a list of only numerical values
numerical = [u'Attrition', u'Age', u'DailyRate', u'DistanceFromHome', 
             u'Education', u'EnvironmentSatisfaction',
             u'HourlyRate', u'JobInvolvement', u'JobLevel', u'JobSatisfaction',
             u'MonthlyIncome', u'MonthlyRate', u'NumCompaniesWorked',
             u'PercentSalaryHike', u'PerformanceRating',
             u'StockOptionLevel', u'TotalWorkingYears',
             u'TrainingTimesLastYear', u'WorkLifeBalance', u'YearsAtCompany',
             u'YearsInCurrentRole', u'YearsSinceLastPromotion',u'YearsWithCurrManager']
heatmap = [
    go.Heatmap(
        z= df[numerical].astype(float).corr().values, # Generating the Pearson correlation
        x=df[numerical].columns.values,
        y=df[numerical].columns.values,
        colorscale='Viridis',
        reversescale = False,
#         text = True ,
        opacity = 1.0
        
    )
]


layout = go.Layout(
    title='Pearson Correlation of numerical features',
    xaxis = dict(ticks='', nticks=36),
    yaxis = dict(ticks='' ),
    width = 900, height = 700,
    
)


fig = go.Figure(data=heatmap, layout=layout)
py.iplot(fig, filename='labelled-heatmap')

In [4]:


# 1-Hot Encoding

size = len(df)

print(size)
print(df)

travel_frequently = []
travel_rarely = []
non_travel = []

research = []
sales = []
human = []

life_sciences = []
medical = []
marketing = []
technical = []
other = []

sales_executive = []
research_scientist = []
laboratory_technician = []
manufacturing_director = []
healthcare_representative = []

married = []
single = []
divorced = []

for index in range(size):
    travel_status = df["BusinessTravel"][index]
    department_status = df["Department"][index]
    education_status = df["EducationField"][index]
    jobRole_status = df["JobRole"][index]
    marital_status = df["MaritalStatus"][index]
    
    if travel_status == "Travel_Frequently":
        travel_frequently.append(1)
        travel_rarely.append(0)
        non_travel.append(0)
    elif travel_status == "Travel_Rarely":
        travel_frequently.append(0)
        travel_rarely.append(1)
        non_travel.append(0)
    else:
        travel_frequently.append(0)
        travel_rarely.append(0)
        non_travel.append(1)
        
    if department_status == "Research & Development":
        research.append(1)
        sales.append(0)
        human.append(0)
    elif department_status == "Sales":
        research.append(0)
        sales.append(1)
        human.append(0)
    else:
        research.append(0)
        sales.append(0)
        human.append(1)
        
    if education_status == "Life Sciences":
        life_sciences.append(1)
        medical.append(0)
        marketing.append(0)
        technical.append(0)
        other.append(0)
    elif education_status == "Medical":
        life_sciences.append(0)
        medical.append(1)
        marketing.append(0)
        technical.append(0)
        other.append(0)
    elif education_status == "Marketing":
        life_sciences.append(0)
        medical.append(0)
        marketing.append(1)
        technical.append(0)
        other.append(0)
    elif education_status == "Technical Degree":
        life_sciences.append(0)
        medical.append(0)
        marketing.append(0)
        technical.append(1)
        other.append(0)
    else:
        life_sciences.append(0)
        medical.append(0)
        marketing.append(0)
        technical.append(0)
        other.append(1)
    
    if jobRole_status == "Sales Executive":
        sales_executive.append(1)
        research_scientist.append(0)
        laboratory_technician.append(0)
        manufacturing_director.append(0)
        healthcare_representative.append(0)
    elif jobRole_status == "Research Scientist":
        sales_executive.append(0)
        research_scientist.append(1)
        laboratory_technician.append(0)
        manufacturing_director.append(0)
        healthcare_representative.append(0)
    elif jobRole_status == "Laboratory Technician":
        sales_executive.append(0)
        research_scientist.append(0)
        laboratory_technician.append(1)
        manufacturing_director.append(0)
        healthcare_representative.append(0)
    elif jobRole_status == "Manufacturing Director":
        sales_executive.append(0)
        research_scientist.append(0)
        laboratory_technician.append(0)
        manufacturing_director.append(1)
        healthcare_representative.append(0)
    else:
        sales_executive.append(0)
        research_scientist.append(0)
        laboratory_technician.append(0)
        manufacturing_director.append(0)
        healthcare_representative.append(1)
        
    if marital_status == "Married":
        married.append(1)
        single.append(0)
        divorced.append(0)
    elif marital_status == "Single":
        married.append(0)
        single.append(1)
        divorced.append(0)
    else:
        married.append(0)
        single.append(0)
        divorced.append(1)
        
        

business_index = df.columns.get_loc("BusinessTravel")
df = df.drop("BusinessTravel", axis = 1)
df.insert(business_index, "Non_Travel", non_travel)
df.insert(business_index, "Travel_Rarely", travel_rarely)
df.insert(business_index, "Travel_Frequently", travel_frequently)

department_index = df.columns.get_loc("Department")
df = df.drop("Department", axis = 1)
df.insert(department_index, "Human Resources", human)
df.insert(department_index, "Sales", sales)
df.insert(department_index, "Research & Development", research)

education_index = df.columns.get_loc("EducationField")
df = df.drop("EducationField", axis = 1)
df.insert(education_index, "EducationOther", other)
df.insert(education_index, "Technical Degree", technical)
df.insert(education_index, "Marketing", marketing)
df.insert(education_index, "Medical", medical)
df.insert(education_index, "Life Sciences", life_sciences)

jobRole_index = df.columns.get_loc("JobRole")
df = df.drop("JobRole", axis = 1)
df.insert(jobRole_index, "Healthcare Representative", healthcare_representative)
df.insert(jobRole_index, "Manufacturing Director", manufacturing_director)
df.insert(jobRole_index, "Laboratory Technician", laboratory_technician)
df.insert(jobRole_index, "Research Scientist", research_scientist)
df.insert(jobRole_index, "Sales Executive", sales_executive)

marital_index = df.columns.get_loc("MaritalStatus")
df = df.drop("MaritalStatus", axis = 1)
df.insert(marital_index, "Divorced", divorced)
df.insert(marital_index, "Single", single)
df.insert(marital_index, "Married", married)

1470
      Age  Attrition     BusinessTravel  DailyRate              Department  \
0      41          1      Travel_Rarely       1102                   Sales
1      49          0  Travel_Frequently        279  Research & Development
2      37          1      Travel_Rarely       1373  Research & Development
3      33          0  Travel_Frequently       1392  Research & Development
4      27          0      Travel_Rarely        591  Research & Development
...   ...        ...                ...        ...                     ...
1465   36          0  Travel_Frequently        884  Research & Development
1466   39          0      Travel_Rarely        613  Research & Development
1467   27          0      Travel_Rarely        155  Research & Development
1468   49          0  Travel_Frequently       1023                   Sales
1469   34          0      Travel_Rarely        628  Research & Development

      DistanceFromHome  Education EducationField  EnvironmentSatisfaction  \
0                    1          2  Life Sciences                        2
1                    8          1  Life Sciences                        3
2                    2          2          Other                        4
3                    3          4  Life Sciences                        4
4                    2          1        Medical                        1
...                ...        ...            ...                      ...
1465                23          2        Medical                        3
1466                 6          1        Medical                        4
1467                 4          3  Life Sciences                        2
1468                 2          3        Medical                        4
1469                 8          3        Medical                        2

      Gender  ...  PercentSalaryHike  PerformanceRating  StockOptionLevel  \
0          1  ...                 11                  3                 0
1          0  ...                 23                  4                 1
2          0  ...                 15                  3                 0
3          1  ...                 11                  3                 0
4          0  ...                 12                  3                 1
...      ...  ...                ...                ...               ...
1465       0  ...                 17                  3                 1
1466       0  ...                 15                  3                 1
1467       0  ...                 20                  4                 1
1468       0  ...                 14                  3                 0
1469       0  ...                 12                  3                 0

     TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                    8                      0               1               6
1                   10                      3               3              10
2                    7                      3               3               0
3                    8                      3               3               8
4                    6                      3               3               2
...                ...                    ...             ...             ...
1465                17                      3               3               5
1466                 9                      5               3               7
1467                 6                      0               3               6
1468                17                      3               2               9
1469                 6                      3               4               4

      YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                      4                        0                     5
1                      7                        1                     7
2                      0                        0                     0
3                      7                        3                     0
4                      2                        2                     2
...                  ...                      ...                   ...
1465                   2                        0                     3
1466                   7                        1                     7
1467                   2                        0                     3
1468                   6                        0                     8
1469                   3                        1                     2

[1470 rows x 30 columns]

In [5]:
train, test = train_test_split(df, test_size=0.2)

In [6]:
train

,Age,Attrition,Travel_Frequently,Travel_Rarely,Non_Travel,DailyRate,Research & Development,Sales,Human Resources,DistanceFromHome,...,PercentSalaryHike,PerformanceRating,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
172,36,0,1,0,0,1480,1,0,0,3,...,12,3,0,13,3,2,8,7,7,2
1179,34,0,0,1,0,1130,1,0,0,3,...,12,3,1,11,2,3,11,8,7,9
1395,31,1,1,0,0,754,0,1,0,26,...,11,3,0,10,4,3,10,7,0,8
1360,31,0,0,1,0,471,1,0,0,4,...,12,3,1,4,0,2,2,2,2,2
1409,40,0,1,0,0,692,1,0,0,11,...,11,3,1,10,2,4,10,9,9,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1069,28,0,0,1,0,1423,1,0,0,1,...,14,3,1,1,2,1,1,0,0,0
1353,34,1,0,0,1,967,1,0,0,16,...,23,4,1,5,2,3,5,2,3,0
1178,20,0,0,1,0,1141,0,1,0,2,...,19,3,0,2,3,3,2,2,2,2
615,27,0,0,0,1,443,1,0,0,3,...,11,3,3,0,6,2,0,0,0,0
758,59,0,0,1,0,1089,0,1,0,1,...,14,3,1,14,1,1,6,4,0,4

In [7]:
train.to_csv("data/train.csv", index=False)
test.to_csv("data/test.csv", index=False)

#### Checking for null values

In [8]:
display(df.isnull().any())

Age                          False
Attrition                    False
Travel_Frequently            False
Travel_Rarely                False
Non_Travel                   False
DailyRate                    False
Research & Development       False
Sales                        False
Human Resources              False
DistanceFromHome             False
Education                    False
Life Sciences                False
Medical                      False
Marketing                    False
Technical Degree             False
EducationOther               False
EnvironmentSatisfaction      False
Gender                       False
HourlyRate                   False
JobInvolvement               False
JobLevel                     False
Sales Executive              False
Research Scientist           False
Laboratory Technician        False
Manufacturing Director       False
Healthcare Representative    False
JobSatisfaction              False
Married                      False
Single                       False
Divorced                     False
MonthlyIncome                False
MonthlyRate                  False
NumCompaniesWorked           False
OverTime                     False
PercentSalaryHike            False
PerformanceRating            False
StockOptionLevel             False
TotalWorkingYears            False
TrainingTimesLastYear        False
WorkLifeBalance              False
YearsAtCompany               False
YearsInCurrentRole           False
YearsSinceLastPromotion      False
YearsWithCurrManager         False
dtype: bool

In [9]:
for col in test.columns:
    print(f"{col} : {test[col].unique()}")

Age : [23 37 43 24 58 42 46 55 28 35 29 30 51 38 53 26 36 32 33 52 54 40 44 50
 34 27 31 49 39 25 47 19 41 21 22 45 56 48 60 20 57]
Attrition : [0 1]
Travel_Frequently : [0 1]
Travel_Rarely : [1 0]
Non_Travel : [0 1]
DailyRate : [ 310 1063 1082  673  559  848  932  150  267 1172 1422  783 1450 1315
  224 1358 1178 1017  300  933 1327  447 1096  928  374  335  665 1076
 1353  535  528 1053  155 1275  367  555 1193  383  562 1442  697  954
  119 1003 1475 1401 1125 1176  594  154  790  448 1283  505  439  585
  625  853 1462  702 1333 1245  644  525  990  524  810  682  678 1474
  704  981  200 1186  655 1138  146  240 1075  792  601  604 1476  138
  346  738  868  922  201  829  111  268 1055 1278 1389  261  798  534
 1332 1421  302  719  945 1356  419  495  883 1425 1365  103  750  241
  703  570  552 1146  337 1448 1329 1167  264  640  592  773  807  688
  607  770  143  481  599 1395  986  217 1261  285  408  852 1427  946
 1360  176  507 1398  350 1291  511  916  157 1467  996  840  306  390
 1255  775  626  370 1451  772  926  269  882  413  461  279  515 1355
  884 1449 1018 1031  124  465 1141  929 1181  329  959 1179 1337 1276
 1097 1103  482  955 1495  571  976  566 1180 1300  142  188 1322 1311
  118  542  548 1373  728  265 1287  410 1334  286  662  529 1010 1457
  322 1035 1184 1404  657 1126  841  587 1303  896 1313  304  506  628
 1154  509 1349 1142 1400  422  172 1456 1001  488 1147  921 1330  654
 1108  622 1242  650 1402  532 1288  799  152  492 1454  218  717 1162
  746  706  556  471 1361  977  470  483  405  334  602 1002  561  969
  663  711  342]
Research & Development : [1 0]
Sales : [0 1]
Human Resources : [0 1]
DistanceFromHome : [10 25 27 11 23  1  2 13  3  7 15 22 16 14 29  6 24  8  9 28  5 18 19  4
 21 20 26 17 12]
Education : [1 5 3 2 4]
Life Sciences : [0 1]
Medical : [1 0]
Marketing : [0 1]
Technical Degree : [0 1]
EducationOther : [0 1]
EnvironmentSatisfaction : [1 2 3 4]
Gender : [0 1]
HourlyRate : [ 79  72  83  96  82  88  43  60  85  78  92  52  71 100  87  56  98  39
  61  37  70  33  38  67  64  86  50  46  40  44  76  51  97  54  68  62
  75  41  84  94  59  80  58  66  32  35  95  90  48  57  77  53  42  30
  73  99  31  49  89  47  45  36  55  91  65  63  81  34  93]
JobInvolvement : [4 3 2 1]
JobLevel : [1 2 3 4 5]
Sales Executive : [0 1]
Research Scientist : [1 0]
Laboratory Technician : [0 1]
Manufacturing Director : [0 1]
Healthcare Representative : [0 1]
JobSatisfaction : [3 1 4 2]
Married : [0 1]
Single : [1 0]
Divorced : [0 1]
MonthlyIncome : [ 3505  4449 10820  4011  5257  2372  6062  7379 13695  2856  5675  4284
 19081 11996  2362  5301  4936  3920 18880  4434  5249 16598  2544  6201
  2795  4332  2340  3348  4999  2400  4323 17099  2897  5775  5731  3448
 10209  4768  6796  8621  2979  4105 10609  8346  3131  9637  5561  2468
  2329  4599  7945  5147 10938  6782  3433  4148  3629  8686 13582 19502
  9396  5460  1274  4534  6799 13872  2929  4707  6712  3162  9362  2821
  5915  4627  4930  5744  2277  6472 10008  6209  4162  4425  2450  3983
 11836 16184 13206 17007  3072  3057  4809 19701  9525  9980  8926  2201
  8943  9824  6833 17856 13237  6397  5021  4950  2121 13341 17861  6180
  6586  4233  2028  3407  2141  4960  6781  3195  6118  6430  5326  4393
 13320  4851  4115  2966 19331  2080  2062  2703  2437 11557 10169 14026
  9355 13758  1118  5098  2818  2679  2451 10965  5429  4553  6578  2720
  6877  6623 19545  9756  6125  2109 16291  2534  6500  6545  2867  8237
  3420  3230 19419  4286  3022  2974  2305  2066  6804  7336  5381 10883
  3201  5206  5265 12808  7823  2983  3452  5130 13458  2942  2571  2373
 11159  4505  7525  6632  5376  5396  1483  2387  2836  3196  2863 16595
  2600  2144  9434  4163  2647  3065 10845  5762  4558 17328  4678 16880
 16659  4639  4559  6220  9679 13603  4969  2886 10854  1416 19246  4614
  3485  3760  4477  5605  6861  2332  2858  4335 17399  3306  2368  3408
  2768  2345  2008  2335  6274  3907  4404  3067  3376  2690  4014  5714
 19566  5810  6134  4728 10333 16872  2785 16799  3833  2377  2657  2678
  2367  2096  9981  2500  2430 19232  9250  7491  5666  6439  3294  6929
  5770  5562  2587  1091  8578  2220  5916  1555  6870  8966  4069  3977
  6567  6032 11957  4900  3298  2325  4805  2559  3975  5042  4876  2042]
MonthlyRate : [19630 23866 11535  8232  6227 26076  4051 17433  9277  3692 19246 13588
 10849 19100  7568  2939 14862 18697 17312 11806 19682 19764  7102  2823
 18016 14811 22673  3164 17519  5530  7108 13829 22474 11934 17171 13436
 19719  9282 23452 17654 22478  5099  9647 20943 22710 26342  8277  3487
 15963 11737  7815 19948 10697  6420  8770 17360 14922 11275 19106 12930
 16292  2125 12368  6219  7152 13352 22128 24409 20338 23914  8978  7973
 19944  2997  9528 23631 13970 26959 22650  8989 12023 11693 15211 15986
 10919  7621 22789 22578  3376 11929 11012 20471 12482 22456  7677 10195
 10842 18168 14034 22908 17089  9490 20364 10339 10425 20623  9947 25098
 26582 22807  4821 11512 12947 25348  5348 11825 17078  4167  5431 20794
  3064 26841 15678 13192 21378 19519  4732 19384 22088 15587 25291 14618
 17588  9558  2447  8040 18698  5044  4567  6881 12066 17491 20978  2706
 11162 20234  4204 16280  6595 23553 24609 22577  6527 26997 23016 20006
  4658 21158 10531  3735  5630 10227 25412  6217 10494 23683 19294 20467
 19911  4973 16439  8842  6812 18398 17241 24907 15146  8916 12290 14180
 19373 15000 23537  4609 12388  3193 21703 16102  6762 11757 12449 19555
  5626 18275  2122  9606  8571 22174 13672  3995 24208 24442 13535 13871
 23293 22422 23258 11262 24788  7346 10138 11677 21813 14168 16586 17258
 25761 23288 14935  5598 20100 19191  4981  3974 11473 25549  6615 26176
 23300  6705  8416  8045 20439  3157 18686  3622 10228  6393 18863  7713
 16002  5829  3854 22604  8658 17251 19271 14977 11882 16616 24375  7551
  5050 16530 26376 12916  4344 26204  4933 17799 23848 19899 13693 13137
 12241  5388  9697 10261 10642 19989 18410 15497 11585 15530 23213 21026
  8841  7298  5549 10110 17231  2721 15053 20989 23793 16177 16620 23099
  3140  5855 15346]
NumCompaniesWorked : [1 3 8 0 9 2 6 5 7 4]
OverTime : [0 1]
PercentSalaryHike : [18 15 11 12 13 17 19 20 22 14 24 21 23 25 16]
PerformanceRating : [3 4]
StockOptionLevel : [0 2 1 3]
TotalWorkingYears : [ 2 15 18  5  9  8 12 24  1  7 16 25 10 11  4 17 13 35 20  6  3 26 31 38
 19 28 32 22 21 14 23 27 34 33 37 30 40]
TrainingTimesLastYear : [3 2 1 5 4 6 0]
WorkLifeBalance : [3 2 4 1]
YearsAtCompany : [ 2 13  8  4  9  6 19  1  7  5  3 22 18 20 10  0 16 15 11 14 31 37 12 33
 21 29]
YearsInCurrentRole : [ 2 11  7  3  0  1  6  8 14  9  5  4 10 12 16 13 15 17]
YearsSinceLastPromotion : [ 0 10  1  2  3  7  6  4  8  9  5 11 13 15 14]
YearsWithCurrManager : [ 2  7  1  3  0  4  8 14  5 11  9 13 10  6 12 15]

In [ ]:
f, axes = plt.subplots(3, 2, figsize=(10, 8))
plt.tight_layout()
sns.kdeplot(test["Age"], ax=axes[0,0])
sns.kdeplot(test["DistanceFromHome"], ax=axes[0,1])
sns.kdeplot(test["HourlyRate"], ax=axes[1,0])
sns.kdeplot(test["DailyRate"], ax=axes[1,1])
sns.kdeplot(test["MonthlyRate"], ax=axes[2,0])
sns.kdeplot(test["MonthlyIncome"], ax=axes[2,1])
plt.show()

#### Régression Logistique

In [51]:
model = LogisticRegression()
oversampler = SMOTE(random_state = 0)

train_y = train["Attrition"]
train_x = train.drop("Attrition", axis = 1)

train_x, train_y = oversampler.fit_resample(train_x, train_y)
skf = StratifiedKFold(n_splits = 5)
index = 1

for train_sample, validation_sample in skf.split(train_x, train_y):
    X_train, X_validation = [train_x.iloc[[i]] for i in train_sample], [train_x.iloc[[i]] for i in validation_sample]
    Y_train, Y_validation = [train_y[i] for i in train_sample], [train_y[i] for i in validation_sample]

    n_samples, n_x, n_y = np.shape(X_train)
    X_train = np.reshape(X_train, (n_samples, n_x * n_y))

    n_samples, n_x, n_y = np.shape(X_validation)
    X_validation = np.reshape(X_validation, (n_samples, n_x * n_y))

    # print(np.shape(X_train))

    model.fit(X_train, Y_train)
    predictions = model.predict(X_validation)

    print("Index: ", index)
    print("Predictions: ", predictions)
    print("Validation: ", Y_validation)

    index += 1

# train, validation = train_test_split(train, test_size=0.2)

# Y_validation = validation["Attrition"]
# X_validation = validation.drop("Attrition", axis = 1)

# model.fit(X_train, Y_train)
# predictions = model.predict(X_validation)

# print(predictions)
# print(Y_validation)

/home/philemon/.local/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning:

lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression

/home/philemon/.local/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning:

lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression

Index:  1
Predictions:  [0 0 0 1 1 1 1 1 1 0 1 0 0 0 0 0 0 0 0 1 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 1
 0 0 1 0 1 1 1 1 0 1 0 0 0 1 1 1 0 0 1 1 0 0 0 0 0 1 0 0 0 0 0 0 1 1 0 0 1
 0 1 1 0 1 0 0 1 0 0 0 1 0 1 1 1 0 0 0 0 0 1 0 0 0 0 1 1 0 0 0 0 0 0 1 1 0
 1 0 0 0 1 1 0 0 1 0 1 1 1 0 0 0 0 1 0 0 0 1 0 1 1 1 0 1 0 0 0 0 1 1 1 1 1
 1 1 0 1 0 1 1 1 1 1 1 0 1 1 1 0 1 1 1 0 1 0 1 0 1 1 1 1 1 0 1 0 0 0 1 1 1
 1 0 1 1 1 1 1 1 1 1 1 0 1 1 1 0 1 1 1 1 0 1 0 1 1 0 1 0 1 0 0 0 0 1 0 1 1
 0 0 1 1 0 1 1 1 1 0 1 1 1 0 1 0 0 0 1 0 1 0 1 1 0 1 1 1 1 1 0]
Validation:  [0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Index:  2
Predictions:  [1 0 1 0 0 1 0 0 0 1 0 1 0 0 0 0 1 0 1 0 1 0 0 0 1 1 0 1 1 0 0 1 0 1 0 0 0
 0 0 1 0 1 0 0 0 0 0 1 1 0 1 1 0 1 0 1 1 0 0 0 0 0 0 0 1 0 1 1 0 0 0 1 1 0
 0 0 0 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0 1 1 0 1 0 0 1 0 0 0 0 0 1 0 0 1 1
 1 0 0 0 0 0 0 1 0 0 1 0 1 1 1 0 0 1 1 1 1 0 0 0 1 1 1 1 0 1 1 1 1 1 0 1 1
 1 1 1 1 1 1 1 1 0 0 1 0 1 1 0 1 1 1 1 0 0 1 1 1 0 1 1 1 0 1 0 1 0 1 1 1 1
 1 0 1 0 1 1 1 1 1 0 1 0 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1 0 1 1 0 0 1 1 1 1
 0 1 1 0 1 1 0 1 1 1 1 1 0 1 1 1 0 1 1 1 0 1 0 1 0 1 0 0 1 1 1]
Validation:  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

/home/philemon/.local/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning:

lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression

/home/philemon/.local/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning:

lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression

Index:  3
Predictions:  [0 0 0 0 0 1 1 1 1 0 0 1 1 0 0 0 1 1 1 0 0 1 0 0 1 0 0 0 0 0 0 0 1 1 0 0 0
 0 1 0 0 0 0 1 0 0 0 0 0 1 1 1 1 0 0 0 1 1 1 0 0 0 0 0 1 0 0 0 0 1 0 0 0 1
 0 0 0 0 1 0 0 0 1 0 1 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 1 1 1
 0 0 0 0 0 0 0 1 1 0 0 1 0 0 1 0 1 1 0 0 1 1 1 0 1 1 1 0 0 1 0 0 1 0 1 0 1
 0 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 1 1 1 0 0 0 0 1 1 1 1 1 1 0 0 0 0
 1 1 1 1 1 1 0 1 1 1 1 1 1 1 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0
 1 0 0 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 0 1]
Validation:  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Index:  4
Predictions:  [0 1 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 0 1 0 0 0 0 0 1 1 1 0 0 0 1 1 0 1 1 0 0
 0 0 1 0 0 1 1 0 0 1 1 0 1 1 1 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 1 1 0 0 0 1 0
 0 0 1 1 0 0 0 1 1 1 0 1 1 0 1 1 0 0 1 0 0 1 1 0 0 0 0 0 0 0 0 0 1 1 1 0 1
 0 1 1 0 0 0 0 1 1 0 1 1 0 0 0 1 1 0 1 1 1 1 1 1 1 1 0 1 0 1 1 1 0 1 1 1 1
 1 1 1 1 1 0 0 1 0 1 1 1 0 1 1 1 1 1 1 0 0 1 1 1 1 1 1 1 1 1 0 1 0 1 0 1 1
 1 1 0 0 1 1 1 1 0 1 1 1 1 1 0 0 1 1 1 1 1 1 1 0 1 1 1 0 0 0 1 1 1 0 1 1 1
 1 1 1 1 1 0 1 1 1 1 0 1 1 0 1 1 0 0 1 1 1 0 1 1 0 1 1 1 0 0 1]
Validation:  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Index:  5
Predictions:  [0 1 1 0 1 1 0 0 0 0 0 1 0 1 0 0 0 1 0 0 0 0 0 0 0 1 0 1 0 1 0 0 0 1 0 0 0
 0 1 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1 0 0 0 0 1 0 1 1 1 1 1 1 1 0 0 1
 1 1 0 1 0 1 0 0 0 1 1 0 0 1 0 0 0 0 0 1 1 0 0 0 1 0 1 0 0 1 0 0 0 0 0 0 1
 0 0 1 0 0 0 0 1 1 0 0 1 0 0 1 0 1 1 0 1 1 1 1 1 0 1 1 1 0 1 1 1 1 0 0 0 1
 1 1 1 0 1 1 1 0 1 1 1 1 0 1 1 1 1 1 1 0 1 1 1 1 0 1 1 1 0 0 1 1 1 1 1 1 0
 1 1 1 0 1 1 0 1 1 1 1 0 1 1 1 0 0 1 1 1 1 1 1 0 1 1 1 0 0 1 1 1 0 1 1 1 1
 1 1 1 1 0 1 1 1 0 1 0 1 1 1 0 1 1 1 1 1 1 0 1 1 1 0 1 1 0 0]
Validation:  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

/home/philemon/.local/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning:

lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression