In [71]:
# Loading database

import pandas as pd

data = pd.read_csv("WA_Fn-UseC_-HR-Employee-Attrition.csv")
data = data.drop(["EmployeeCount", "EmployeeNumber", "Over18", "RelationshipSatisfaction", "StandardHours"], axis = 1)

size = len(data)

print(data)

      Age Attrition     BusinessTravel  DailyRate              Department  \
0      41       Yes      Travel_Rarely       1102                   Sales
1      49        No  Travel_Frequently        279  Research & Development
2      37       Yes      Travel_Rarely       1373  Research & Development
3      33        No  Travel_Frequently       1392  Research & Development
4      27        No      Travel_Rarely        591  Research & Development
...   ...       ...                ...        ...                     ...
1465   36        No  Travel_Frequently        884  Research & Development
1466   39        No      Travel_Rarely        613  Research & Development
1467   27        No      Travel_Rarely        155  Research & Development
1468   49        No  Travel_Frequently       1023                   Sales
1469   34        No      Travel_Rarely        628  Research & Development

      DistanceFromHome  Education EducationField  EnvironmentSatisfaction  \
0                    1          2  Life Sciences                        2
1                    8          1  Life Sciences                        3
2                    2          2          Other                        4
3                    3          4  Life Sciences                        4
4                    2          1        Medical                        1
...                ...        ...            ...                      ...
1465                23          2        Medical                        3
1466                 6          1        Medical                        4
1467                 4          3  Life Sciences                        2
1468                 2          3        Medical                        4
1469                 8          3        Medical                        2

      Gender  ...  PercentSalaryHike  PerformanceRating  StockOptionLevel  \
0     Female  ...                 11                  3                 0
1       Male  ...                 23                  4                 1
2       Male  ...                 15                  3                 0
3     Female  ...                 11                  3                 0
4       Male  ...                 12                  3                 1
...      ...  ...                ...                ...               ...
1465    Male  ...                 17                  3                 1
1466    Male  ...                 15                  3                 1
1467    Male  ...                 20                  4                 1
1468    Male  ...                 14                  3                 0
1469    Male  ...                 12                  3                 0

     TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                    8                      0               1               6
1                   10                      3               3              10
2                    7                      3               3               0
3                    8                      3               3               8
4                    6                      3               3               2
...                ...                    ...             ...             ...
1465                17                      3               3               5
1466                 9                      5               3               7
1467                 6                      0               3               6
1468                17                      3               2               9
1469                 6                      3               4               4

      YearsInCurrentRole  YearsSinceLastPromotion YearsWithCurrManager
0                      4                        0                    5
1                      7                        1                    7
2                      0                        0                    0
3                      7                        3                    0
4                      2                        2                    2
...                  ...                      ...                  ...
1465                   2                        0                    3
1466                   7                        1                    7
1467                   2                        0                    3
1468                   6                        0                    8
1469                   3                        1                    2

[1470 rows x 30 columns]

In [72]:
# Formatting columns

data['Attrition'] = data['Attrition'].replace(["Yes", "No"], [1, 0])
data['Gender'] = data['Gender'].replace(["Male", "Female"], [0, 1])
data['OverTime'] = data['OverTime'].replace(["Yes", "No"], [1, 0])

print(data)

      Age  Attrition     BusinessTravel  DailyRate              Department  \
0      41          1      Travel_Rarely       1102                   Sales
1      49          0  Travel_Frequently        279  Research & Development
2      37          1      Travel_Rarely       1373  Research & Development
3      33          0  Travel_Frequently       1392  Research & Development
4      27          0      Travel_Rarely        591  Research & Development
...   ...        ...                ...        ...                     ...
1465   36          0  Travel_Frequently        884  Research & Development
1466   39          0      Travel_Rarely        613  Research & Development
1467   27          0      Travel_Rarely        155  Research & Development
1468   49          0  Travel_Frequently       1023                   Sales
1469   34          0      Travel_Rarely        628  Research & Development

      DistanceFromHome  Education EducationField  EnvironmentSatisfaction  \
0                    1          2  Life Sciences                        2
1                    8          1  Life Sciences                        3
2                    2          2          Other                        4
3                    3          4  Life Sciences                        4
4                    2          1        Medical                        1
...                ...        ...            ...                      ...
1465                23          2        Medical                        3
1466                 6          1        Medical                        4
1467                 4          3  Life Sciences                        2
1468                 2          3        Medical                        4
1469                 8          3        Medical                        2

      Gender  ...  PercentSalaryHike  PerformanceRating  StockOptionLevel  \
0          1  ...                 11                  3                 0
1          0  ...                 23                  4                 1
2          0  ...                 15                  3                 0
3          1  ...                 11                  3                 0
4          0  ...                 12                  3                 1
...      ...  ...                ...                ...               ...
1465       0  ...                 17                  3                 1
1466       0  ...                 15                  3                 1
1467       0  ...                 20                  4                 1
1468       0  ...                 14                  3                 0
1469       0  ...                 12                  3                 0

     TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                    8                      0               1               6
1                   10                      3               3              10
2                    7                      3               3               0
3                    8                      3               3               8
4                    6                      3               3               2
...                ...                    ...             ...             ...
1465                17                      3               3               5
1466                 9                      5               3               7
1467                 6                      0               3               6
1468                17                      3               2               9
1469                 6                      3               4               4

      YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                      4                        0                     5
1                      7                        1                     7
2                      0                        0                     0
3                      7                        3                     0
4                      2                        2                     2
...                  ...                      ...                   ...
1465                   2                        0                     3
1466                   7                        1                     7
1467                   2                        0                     3
1468                   6                        0                     8
1469                   3                        1                     2

[1470 rows x 30 columns]

In [73]:
# 1-Hot Encoding

travel_frequently = []
travel_rarely = []
non_travel = []

research = []
sales = []
human = []

life_sciences = []
medical = []
marketing = []
technical = []
other = []

sales_executive = []
research_scientist = []
laboratory_technician = []
manufacturing_director = []
healthcare_representative = []

married = []
single = []
divorced = []

for index in range(size):
    travel_status = data["BusinessTravel"][index]
    department_status = data["Department"][index]
    education_status = data["EducationField"][index]
    jobRole_status = data["JobRole"][index]
    marital_status = data["MaritalStatus"][index]
    
    if travel_status == "Travel_Frequently":
        travel_frequently.append(1)
        travel_rarely.append(0)
        non_travel.append(0)
    elif travel_status == "Travel_Rarely":
        travel_frequently.append(0)
        travel_rarely.append(1)
        non_travel.append(0)
    else:
        travel_frequently.append(0)
        travel_rarely.append(0)
        non_travel.append(1)
        
    if department_status == "Research & Development":
        research.append(1)
        sales.append(0)
        human.append(0)
    elif department_status == "Sales":
        research.append(0)
        sales.append(1)
        human.append(0)
    else:
        research.append(0)
        sales.append(0)
        human.append(1)
        
    if education_status == "Life Sciences":
        life_sciences.append(1)
        medical.append(0)
        marketing.append(0)
        technical.append(0)
        other.append(0)
    elif education_status == "Medical":
        life_sciences.append(0)
        medical.append(1)
        marketing.append(0)
        technical.append(0)
        other.append(0)
    elif education_status == "Marketing":
        life_sciences.append(0)
        medical.append(0)
        marketing.append(1)
        technical.append(0)
        other.append(0)
    elif education_status == "Technical Degree":
        life_sciences.append(0)
        medical.append(0)
        marketing.append(0)
        technical.append(1)
        other.append(0)
    else:
        life_sciences.append(0)
        medical.append(0)
        marketing.append(0)
        technical.append(0)
        other.append(1)
    
    if jobRole_status == "Sales Executive":
        sales_executive.append(1)
        research_scientist.append(0)
        laboratory_technician.append(0)
        manufacturing_director.append(0)
        healthcare_representative.append(0)
    elif jobRole_status == "Research Scientist":
        sales_executive.append(0)
        research_scientist.append(1)
        laboratory_technician.append(0)
        manufacturing_director.append(0)
        healthcare_representative.append(0)
    elif jobRole_status == "Laboratory Technician":
        sales_executive.append(0)
        research_scientist.append(0)
        laboratory_technician.append(1)
        manufacturing_director.append(0)
        healthcare_representative.append(0)
    elif jobRole_status == "Manufacturing Director":
        sales_executive.append(0)
        research_scientist.append(0)
        laboratory_technician.append(0)
        manufacturing_director.append(1)
        healthcare_representative.append(0)
    else:
        sales_executive.append(0)
        research_scientist.append(0)
        laboratory_technician.append(0)
        manufacturing_director.append(0)
        healthcare_representative.append(1)
        
    if marital_status == "Married":
        married.append(1)
        single.append(0)
        divorced.append(0)
    elif marital_status == "Single":
        married.append(0)
        single.append(1)
        divorced.append(0)
    else:
        married.append(0)
        single.append(0)
        divorced.append(1)
        
        

business_index = data.columns.get_loc("BusinessTravel")
data = data.drop("BusinessTravel", axis = 1)
data.insert(business_index, "Non_Travel", non_travel)
data.insert(business_index, "Travel_Rarely", travel_rarely)
data.insert(business_index, "Travel_Frequently", travel_frequently)

department_index = data.columns.get_loc("Department")
data = data.drop("Department", axis = 1)
data.insert(department_index, "Human Resources", human)
data.insert(department_index, "Sales", sales)
data.insert(department_index, "Research & Development", research)

education_index = data.columns.get_loc("EducationField")
data = data.drop("EducationField", axis = 1)
data.insert(education_index, "EducationOther", other)
data.insert(education_index, "Technical Degree", technical)
data.insert(education_index, "Marketing", marketing)
data.insert(education_index, "Medical", medical)
data.insert(education_index, "Life Sciences", life_sciences)

jobRole_index = data.columns.get_loc("JobRole")
data = data.drop("JobRole", axis = 1)
data.insert(jobRole_index, "Healthcare Representative", healthcare_representative)
data.insert(jobRole_index, "Manufacturing Director", manufacturing_director)
data.insert(jobRole_index, "Laboratory Technician", laboratory_technician)
data.insert(jobRole_index, "Research Scientist", research_scientist)
data.insert(jobRole_index, "Sales Executive", sales_executive)

marital_index = data.columns.get_loc("MaritalStatus")
data = data.drop("MaritalStatus", axis = 1)
data.insert(marital_index, "Divorced", divorced)
data.insert(marital_index, "Single", single)
data.insert(marital_index, "Married", married)

print(data)

      Age  Attrition  Travel_Frequently  Travel_Rarely  Non_Travel  DailyRate  \
0      41          1                  0              1           0       1102
1      49          0                  1              0           0        279
2      37          1                  0              1           0       1373
3      33          0                  1              0           0       1392
4      27          0                  0              1           0        591
...   ...        ...                ...            ...         ...        ...
1465   36          0                  1              0           0        884
1466   39          0                  0              1           0        613
1467   27          0                  0              1           0        155
1468   49          0                  1              0           0       1023
1469   34          0                  0              1           0        628

      Research & Development  Sales  Human Resources  DistanceFromHome  ...  \
0                          0      1                0                 1  ...
1                          1      0                0                 8  ...
2                          1      0                0                 2  ...
3                          1      0                0                 3  ...
4                          1      0                0                 2  ...
...                      ...    ...              ...               ...  ...
1465                       1      0                0                23  ...
1466                       1      0                0                 6  ...
1467                       1      0                0                 4  ...
1468                       0      1                0                 2  ...
1469                       1      0                0                 8  ...

      PercentSalaryHike  PerformanceRating  StockOptionLevel  \
0                    11                  3                 0
1                    23                  4                 1
2                    15                  3                 0
3                    11                  3                 0
4                    12                  3                 1
...                 ...                ...               ...
1465                 17                  3                 1
1466                 15                  3                 1
1467                 20                  4                 1
1468                 14                  3                 0
1469                 12                  3                 0

      TotalWorkingYears  TrainingTimesLastYear  WorkLifeBalance  \
0                     8                      0                1
1                    10                      3                3
2                     7                      3                3
3                     8                      3                3
4                     6                      3                3
...                 ...                    ...              ...
1465                 17                      3                3
1466                  9                      5                3
1467                  6                      0                3
1468                 17                      3                2
1469                  6                      3                4

      YearsAtCompany  YearsInCurrentRole  YearsSinceLastPromotion  \
0                  6                   4                        0
1                 10                   7                        1
2                  0                   0                        0
3                  8                   7                        3
4                  2                   2                        2
...              ...                 ...                      ...
1465               5                   2                        0
1466               7                   7                        1
1467               6                   2                        0
1468               9                   6                        0
1469               4                   3                        1

      YearsWithCurrManager
0                        5
1                        7
2                        0
3                        0
4                        2
...                    ...
1465                     3
1466                     7
1467                     3
1468                     8
1469                     2

[1470 rows x 44 columns]